<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">

    <Appenders>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %d{yyyy-MM-dd HH:mm:ss} %-5p | %-60c | %m (%F:%L)%n"/>
        </Console>

        <File name="file" fileName="logs/logs.txt">
            <PatternLayout pattern="[%t] %d{yyyy-MM-dd HH:mm:ss} %-5p | %-60c | %m (%F:%L)%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Root level="debug">

            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>

        </Root>

        <Logger name="freemarker" level="off">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Logger>

    </Loggers>

</Configuration>